.App {
  text-align: center;
}
/*testttt*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create {
  border: #282c34;
}
.cover {
  height: 60vh;
  width: 100vw;
}

body {
  background: rgba(189, 184, 184, 0.533);
}

.orangeButton {
  background: coral;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5%;
  margin: 1%;
  margin-bottom: 10%;
}
.comment {
  background: rgb(245, 245, 245);
  width: 50%;
  display: flex;
  margin-left: 20%;
}
/* style input content Nouveau post */
.content {
  width: 45vw;
  height: 20vh;
  background: rgba(245, 245, 245, 0.591);
  border-radius: 2em;
  margin: 1%;
}

/* css carousel */
.carousel img {
  height: 43vh;
}
.carousel {
  display: flex !important;
  font-size: 0.8em !important;
  font-weight: bold;
  position: relative !important;
  top: -20vh !important;
  left: 37vw !important;
}

/* fin */
.center {
  display: flex;
  flex-direction: column;
}
/* css post publié */
.post {
  background: rgb(245, 245, 245);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
  margin-left: 20%;
  position: relative;
  top: -35vh;
  border: 2px solid rgba(0, 0, 0, 0.207);
}
.onePost {
  border: 2px solid rgba(0, 0, 0, 0.207);
  border-radius: 1em;
  width: 50vw;
  margin: 1%;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Masque le texte qui dépasse */
  text-overflow: ellipsis; /* Ajoute des points de suspension */
}

/* CSS PAGE PROFIL */

.afficheprofil3 {
  background-color: white;
  border-radius: 40px;
  color: rgb(0, 83, 173);
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 60%;
  height: 80%;
  border-radius: 3%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.flex3 {
  position: fixed;
  width: 100%;
  height: 100%;
  /*  background-image: url(./assets/images/ban.png); */
  background-size: cover;
}

.create3 input {
  width: 60%;
  height: 8vh;
  margin-bottom: 5%;
  margin-left: 15%;
  border-radius: 10px;
  border: solid rgb(193, 189, 189);
  font-size: 1em;
}

.create3 button {
  background: rgb(135, 132, 132);
  width: 60%;
  height: 10%;
  border-radius: 20px;
  border: solid white;
  color: white;
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: 20%;
  margin-top: 5%;
  cursor: pointer;
}

.create3 {
  padding: 2%;

  border: 2px solid rgba(0, 0, 0, 0.031);
  bottom: 0%;
  flex-direction: column;
  width: 40%;
  height: 72.5%;
  left: 0%;
  position: absolute;
  border-radius: 3%;
  background: white;
}

/* FIN */
/* .bar nav */
.barnav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.539);
  opacity: 0.8;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}
.barnav button {
  color: black;
  font-weight: bold;
}

.btn {
  color: white !important;
}

.like {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.nomPrenom {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.commentaire {
  border: 1px solid rgba(0, 0, 0, 0.106);
}
.afficheprofil4 {
  display: flex;
  flex-direction: row;
  gap: 3%;
}
.flex4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Nav p {
  color: white;
  margin-top: 10%;
}

.logo img {
  height: 35vh;
  position: absolute;
  top: 70%;
  left: 1%;
}
/* logo navbar */
.flex4 img {
  height: 8vh;
  margin: 0;
}
/* css commentaire */
